<h1>テキストからアートを生成</h1>

<%= form_with url: images_path, method: :post do %>
  <label>プロンプト:</label>
  <%= text_field_tag :prompt, '', required: true %>
  <%= submit_tag "生成" %>
<% end %>

<% if @image_url %>
  <h2>生成された画像:</h2>
  <img src="<%= Rails.application.routes.url_helpers.rails_blob_path(@image_url, only_path: true) %>" alt="生成画像">
<% else %>
  <% if flash[:error] %>
    <p style="color: red;"><%= flash[:error] %></p>
  <% end %>
<% end %>

